* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Fasthand", cursive;
}
h1 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#contact-form {
  text-align: center;
  width: 50%;
  margin: auto;
}
#task {
  padding: 0.5rem;
}
.none {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: none;
}
.is-active {
  display: block;
}
#tasks-todo {
  text-align: center;
}
.btn {
  padding: 0.5rem;
  color: #fff;
  background-color: #4646ee;
  cursor: pointer;
}
i {
  margin-left: 1rem;
  cursor: pointer;
}
li {
  list-style: symbols();
  font-size: 2rem;
  width: 20%;
  margin: auto;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}
.down {
  z-index: -1;
}
